
.table-view {-fx-font-size:17;
		-fx-font-family: Calibri;
		-fx-background-color: white;
		 -fx-border-color: white;
		}

.table-view .column-header { 
    -fx-background-color: #2484BF; 
     -fx-text-background-color: #E9F6FF; 
      -fx-border-width: 0px;
     -fx-border-color: white;
     
  
}
		
.table-view .table-cell{
    -fx-border-color: white;
    -fx-border-width: 0 0 5px;
    -fx-padding: 10px 0 10px 10px;
      
    
   
   }

.table-row-cell:odd:hover {

   -fx-background-color: #C0D6EA; 
   -fx-text-background-color: #010440; 
   	 -fx-border-color: none;
   
}
.table-row-cell:even:hover {
   -fx-background-color: #C0D6EA; 
   -fx-text-background-color: #010440; 
    
}
.table-row-cell:odd{
    -fx-background-color: #E9F6FF;
  
    

    }
.table-row-cell:even{
    -fx-background-color: #E9F6FF;
    
}

.table-row-cell:focused{
 -fx-font-weight: bold;
    -fx-background-color: #C0D6EA; 
   -fx-text-background-color: #010440;
   
}